body {
 
  padding: 0;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  background: linear-gradient(-45deg, #f06, #9f6, #06f, #f06);
  background-size: 200% 200%;
  animation: glitter 2s infinite;
  height: 100vh;
  width: 100vw;
   }

@keyframes glitter {
  0% {
      background-position: 0% 0%;
  }
  100% {
      background-position: 100% 100%;
  }
}  

 

 
  




.logo{
    width:300px;
    display: block;
    margin-top: 10px;
    margin-bottom:90px;
    margin-left: auto;
    margin-right: auto;
    
}


.des_game{
    color:white;
    font-size: 25px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    margin-top: 5px;
    margin-left: 300px;
    margin-right: 300px;
    padding-left: 50px;
    padding-right: 50px;
    border: 3px solid #810541;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.adven{
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    color:#793399;
}


#btn{
 
    background:#F8F8FF;
    color:  palevioletred;
    width: 150px;
    margin-top: 10px;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #B131DE;
    border-radius: 20px;
    
}

#btn_inst{
   
    background:#F8F8FF;
    color: palevioletred;
    width: 150px;
    margin-top: 10px;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #B131DE;
    border-radius: 20px;

}

#players{

    background:#F8F8FF;
    color: palevioletred;
    width: 150px;
    margin-top: 10px;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #B131DE;
    border-radius: 20px;
}



#game-container {
   
  display: flex;
     padding: 0px;
     margin: 0px;
    justify-content:center;
    
  }


  #game-screen {
  
   
      display:none;
      align-content: center;
      padding: 20px 0px;
      padding-top:10px;
      padding-bottom: 50px;
      padding-right: 40%;
      padding-left: 40%;
      overflow: hidden;
      position: relative;
      background: url(../images/background-img.png) ;
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      background-size: cover;
     animation: slide 5s linear infinite;
}

@keyframes slide {
  0% {
    background-position: 2000px 0;
  }
  95% {
    background-position: 0 0;
  }
  100% {
    background-position: 100px 0;
  }
}

  #game-end {
    display: none;
    
    
  }

  #game-intro{
    margin: 0; 
    padding: 0;
    background: linear-gradient(-45deg, #f06, #9f6, #06f, #f06);
    background-size: cover;
    animation: glitter 2s infinite;
    height: 100vh;
    width: 100vw;
     }

  @keyframes glitter {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
  }  
  
  #restart-button{
   
    background:yellowgreen;
    color: brown;
    width: 150px;
    margin-top: 10px;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid blue;
    border-radius: 20px;
    font-size: medium;
    
  }

  #info{
    display: block;
    font-size: 30px;
    font-weight: bold;
    color:darkgreen ;
    padding: 20px;
    
  }