body {
  padding: 0;
  margin: 0;
  text-align: center;
  
}



.logo{
    width:500px;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    
}


.des_game{
    color:white;
    font-size: 25px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    margin-top: 5px;
    margin-left: 300px;
    margin-right: 300px;
    padding-left: 50px;
    padding-right: 50px;
   
    
    border: 3px solid #810541;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.adven{
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    color:#663399;
}


#btn{
 
    background:#F8F8FF;
    color:  palevioletred;
    width: 150px;
    margin-top: 10px;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #B131DE;
    border-radius: 20px;
    
}

#btn_inst{
   
    background:#F8F8FF;
    color: palevioletred;
    width: 150px;
    margin-top: 10px;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #B131DE;
    border-radius: 20px;

}

#players{

    background:#F8F8FF;
    color: palevioletred;
    width: 150px;
    margin-top: 10px;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #B131DE;
    border-radius: 20px;
}



#game-container {
    display: flex;
    width: 100vw;
    padding: 20px 0px;
    justify-content:center;
    display: none;
  }


  #game-screen {
   
    display: block;
    background-size:cover; 
    align-content: center;
    padding-top: 400px;
    padding-bottom: 400px;
    padding-right: auto;
    padding-left: auto;
    overflow: hidden;
    position: relative;
    background-image: url(../images/road.jpg);
   /* animation: slide 5s linear infinite;
    background-position: 100% 0;*/
  }
  @keyframes slide {
    0% {
      background-position: 0px 0px;
    }
    
    100% {
      background-position: 0px 100%;
    }
  }


  #game-end {
    display: none;
  }

  #game-intro{
    
    margin: 0; 
    padding: 0;
    background: linear-gradient(-45deg, #f06, #9f6, #06f, #f06);
    background-size: 400% 400%;
    animation: glitter 2s infinite;

  }

  @keyframes glitter {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
  }  
  
  